.item{
transition:.35s;
border-radius:16px;
padding:22px;
}

.item:hover{

background:white;

transform:translateY(-5px);

box-shadow:0 10px 25px rgba(0,0,0,.12);

}

.category{

position:relative;

}

.category::after{

content:"";

width:70px;

height:4px;

background:#b7924f;

display:block;

margin-top:8px;

border-radius:20px;

}

.btn{

transition:.4s;

}

.btn:hover{

background:#9b7638;

transform:scale(1.05);

}
